################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Restaurant/obj/Release/Restaurant_MarkupCompile.lref
